---
layout: archive
---

<h1>Hi!</h1>
<br>

<p>
I'm Farnoosh, a developer working out of Pune, India.
</p>

<p>
In my free time, I like to read, game and obsess over football (read Manchester United). Open Source fascinates me and I'm in love with Github which has made my life easier.
</p>

<h2>Get in touch!</h2>
<p>
You can reach me at afarnoosh9 [at] gmail [dot] com
</p>

<br><br>

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
